*{
  margin: 0;
  padding: 0;
}

body{
  background: url('../public/BG.png');
  background-size: cover;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gameTitle{
  color: rgb(0, 0, 0);
}

.textCenter {
  text-align: center;
}

.fi{
  width: 20rem;
  line-height: 20rem;
}

.container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.gameContainer{
  margin: 1.8rem;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  background-color: #eee;
}

.scoreContainer{
  margin: 2.8rem;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  background-color: #eee;
}

.answerContainer{
  height: 1rem;
}
.correct{
  color: green;
}

.incorrect{
  color: red;
}

.btn{
  margin: 0.5rem;
  padding: 0.4rem;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid #eee;
  border-radius: 10px;
  transition: 0.3s;
}

.btn:hover{
  transform: scale(1.1);
}

@media screen and (max-width:680px) {
  .container{
    flex-direction: column;
  }
  .scoreContainer{
    margin-top: 2.8rem;
    text-align: center;
  }
}